Repository zisenwang/xs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

restore npm install due to a npm bug @parcel/watcher
  .npmrc
  amplify.yml
  package-lock.json
  package.json
Due: none

Add ECAT link and dynamic badge support to header and footer
  public/i18n/en.json
  public/i18n/zh-CN.json
  src/app/features/header/header.component.html
  src/app/features/header/header.component.scss
  src/app/features/header/header.component.ts
  src/app/features/main-page/footer/footer.component.html
  src/app/features/main-page/footer/footer.component.ts
  src/app/features/main-page/main-page-content/main-page-content.component.html
  src/environments/environment.interface.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/index.html
  tsconfig.json
Due: eslint, prettier --write

Add sitemap.xml and update routing for fallback path
  public/sitemap.xml
  src/app/app.routes.ts
Due: eslint

Add sitemap.xml and update routing for fallback path
  angular.json
Due: none

Add robots.txt with sitemap link
  public/robots.txt
Due: none

Update metadata and add structured data to index.html
  src/index.html
Due: eslint

Path conditions:
  eslint: (any of: *.ts) or (any of: *.html)
  prettier --write: any of: *.scss
