Repository zisenwang/xs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Refactor ESLint config and add temporary export
  .eslintrc.json
  src/shared/services/scroll.service.ts
Due: eslint

Refactor ESLint config and add temporary export
  .husky/pre-push
Due: none

Refactor scroll service and update Husky hooks
  .husky/pre-commit
  .husky/pre-push
  src/shared/services/scroll.service.ts
Due: eslint

Refactor scroll service and update Husky hooks
  src/app/app.component.ts
  src/index.html
Due: eslint

update pre commit hook
  .husky/pre-commit
Due: none

dummy change
  src/shared/services/scroll.service.ts
Due: eslint

Update .lintstagedrc.json to perform prettier, previous setting ignored prettier
  .lintstagedrc.json
Due: none

Add pipeline deployment command to Amplify preBuild
  amplify.yml
Due: none

correct amplify/storage/resource.ts syntax to perform prebuild on amplify
  amplify/storage/resource.ts
Due: eslint

Add Voiceflow chat widget to index.html
  src/index.html
Due: eslint

Move header component to main-page directory and add teacher link
  public/favicon.ico
  public/logo.jpg
  public/logo_chin.png
  public/logo_empty.png
  public/xiusi_logo.png
  src/app/features/header/header.component.ts
  src/app/features/main-page/header/header.component.html
  src/app/features/main-page/header/header.component.scss
  src/app/features/main-page/header/header.component.ts
  src/app/features/main-page/main-page.component.ts
Due: eslint, prettier --write

Update logo_chin.png
  public/logo_chin.png
Due: none

Add pre-push hook and remove pre-commit hook
  .husky/pre-push
Due: none

Replace BadgeComponent with IntroComponent across main page
  public/logo.png
  src/app/features/main-page/badge/badge.component.html
  src/app/features/main-page/banner/banner.component.ts
  src/app/features/main-page/intro/intro.component.html
  src/app/features/main-page/intro/intro.component.scss
  src/app/features/main-page/intro/intro.component.ts
  src/app/features/main-page/main-page.component.html
  src/app/features/main-page/main-page.component.ts
Due: eslint, prettier --write

Update menu labels and restructure header menu items
  src/app/features/main-page/header/header.component.ts
Due: eslint

Update services layout and content, add new images
  public/camp.png
  public/exam.png
  public/interview.png
  public/lessons.png
  src/app/features/main-page/services/services.component.html
  src/app/features/main-page/services/services.component.ts
Due: eslint

Remove unnecessary spacing in intro component layout
  src/app/features/main-page/intro/intro.component.html
Due: eslint

Update branding and meta configurations in HTML files
  src/app/features/main-page/footer/footer.component.html
  src/index.html
Due: eslint

Update branding and meta configurations in HTML files
  src/app/features/main-page/banner/banner.component.html
  src/app/features/main-page/footer/footer.component.html
  src/app/features/main-page/header/header.component.html
  src/index.html
Due: eslint

Add ngx-translate setup with translation loader
  package-lock.json
  package.json
  src/app/app.config.ts
Due: eslint

Add i18n support with Chinese and English translations
  public/i18n/en.json
  public/i18n/zh-CN.json
Due: none

Add i18n support for header, banner, and services components
  public/i18n/en.json
  public/i18n/zh-CN.json
  src/app/features/main-page/banner/banner.component.html
  src/app/features/main-page/banner/banner.component.ts
  src/app/features/main-page/header/header.component.html
  src/app/features/main-page/header/header.component.ts
  src/app/features/main-page/services/services.component.html
  src/app/features/main-page/services/services.component.ts
Due: eslint

Add playsinline attributes to video tag
  src/app/features/main-page/banner/banner.component.html
Due: eslint

Remove unused Button import from banner component
  src/app/features/main-page/banner/banner.component.ts
Due: eslint

substitute chat with voiceflow
  src/app/features/main-page/main-page.component.html
Due: eslint

substitute chat with voiceflow
  src/app/features/main-page/header/header.component.html
Due: eslint

Simplify header component by removing dynamic translations.
  src/app/features/main-page/header/header.component.html
  src/app/features/main-page/header/header.component.ts
Due: eslint

Enhance language selection in header component.
  src/app/features/main-page/header/header.component.html
  src/app/features/main-page/header/header.component.ts
Due: eslint

Change services.component.html css, make cards natural
  public/img.png
  src/app/features/main-page/services/services.component.html
Due: eslint

Add testimonials section with translated content and animations
  public/cambridge.png
  public/i18n/en.json
  public/i18n/zh-CN.json
  src/app/features/main-page/testimonials/testimonials.component.ts
Due: eslint

Enable production configurations and environment setup
  angular.json
  package.json
  src/app/features/main-page/testimonials/testimonials.component.ts
  src/environments/environment.interface.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/main.ts
Due: eslint

Enable production configurations and environment setup
  public/images/logo_cam.png
  public/images/logo_harvard.png
  public/images/logo_imp.png
  public/images/logo_lse.png
  public/images/logo_mit.png
  public/images/logo_oxi.png
  public/images/logo_pu.png
  public/images/logo_stfd.png
  public/images/logo_ucl.png
  public/images/logo_yale.png
  src/app/features/main-page/testimonials/testimonials.component.html
  src/app/features/main-page/testimonials/testimonials.component.ts
  src/shared/components/image-scroll/image-scroll.component.html
  src/shared/components/image-scroll/image-scroll.component.scss
  src/shared/components/image-scroll/image-scroll.component.ts
Due: eslint, prettier --write

Fix build script typo in package.json
  package.json
Due: none

Add right-scroll animation to image scroll component
  public/images/logo_harvard.png
  public/images/logo_imp.png
  public/images/logo_ucl.png
  src/shared/components/image-scroll/image-scroll.component.html
  src/shared/components/image-scroll/image-scroll.component.scss
Due: eslint, prettier --write

Update banner text for clarity in zh-CN and en translations
  public/i18n/en.json
  public/i18n/zh-CN.json
Due: none

Update header logo source and size
  src/app/features/main-page/header/header.component.html
Due: eslint

Refactor services section and restructure components
  src/app/features/main-page/business/business.component.html
  src/app/features/main-page/business/business.component.ts
  src/app/features/main-page/intro/intro.component.html
  src/app/features/main-page/intro/intro.component.ts
  src/app/features/main-page/main-page.component.html
  src/app/features/main-page/main-page.component.ts
  src/app/features/main-page/services/services.component.html
  src/app/features/main-page/services/services.component.scss
  src/app/features/main-page/services/services.component.ts
  src/app/features/main-page/testimonials/testimonials.component.html
  src/app/features/main-page/testimonials/testimonials.component.ts
Due: eslint, prettier --write

Refactor business and intro components for i18n and structure
  public/i18n/en.json
  public/i18n/zh-CN.json
  src/app/features/main-page/business/business.component.html
  src/app/features/main-page/business/business.component.ts
  src/app/features/main-page/header/header.component.ts
  src/app/features/main-page/intro/intro.component.html
  src/app/features/main-page/intro/intro.component.ts
  src/app/features/main-page/testimonials/testimonials.component.ts
  src/shared/index.ts
  src/shared/models/app.models.ts
  src/shared/models/index.ts
Due: eslint

Path conditions:
  eslint: (any of: *.ts) or (any of: *.html)
  prettier --write: any of: *.scss
