Repository zisenwang/xs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.ts": [
    "eslint"
  ],
  "*.html": [
    "eslint"
  ],
  "*.scss": "prettier --write"
}

add hover effect in main page intro card
  src/app/features/main-page/intro/intro.component.html
Due: eslint

Refactor sprint component to include structured schedules
  src/app/features/products/interview/interview.component.html
  src/app/features/products/sprint/sprint.component.html
Due: eslint

Add TranslateButton component for language switch functionality
  public/icons/en.svg
  public/icons/zh.svg
  src/app/features/header/header.component.html
  src/app/features/header/header.component.ts
  src/shared/components/translate-button/translate-button.component.html
  src/shared/components/translate-button/translate-button.component.scss
  src/shared/components/translate-button/translate-button.component.ts
Due: eslint, prettier --write

Add cache control headers and optimize bg-title component
  amplify.yml
  customHeaders.json
  src/shared/components/bg-title/bg-title.component.html
  src/shared/components/bg-title/bg-title.component.scss
Due: eslint, prettier --write

Add cache control headers and optimize bg-title component
  customHttp.yml
Due: none

Add cache control headers and optimize bg-title component
  amplify.yml
  customHttp.yml
Due: none

Add cache control headers and optimize bg-title component
  customHttp.yml
  src/app/features/main-page/testimonials/testimonials.component.html
Due: eslint

Remove unused preload link and adjust test headers in config
  customHttp.yml
  src/shared/components/bg-title/bg-title.component.html
Due: eslint

Remove test headers in config
  customHttp.yml
Due: none

Add language-specific components for interview section
  src/app/features/products/interview/ch/interview-ch.component.html
  src/app/features/products/interview/ch/interview-ch.component.scss
  src/app/features/products/interview/ch/interview-ch.component.ts
  src/app/features/products/interview/en/interview-en.component.html
  src/app/features/products/interview/en/interview-en.component.scss
  src/app/features/products/interview/en/interview-en.component.ts
  src/app/features/products/interview/interview.component.html
  src/app/features/products/interview/interview.component.ts
  src/app/features/products/products.routes.ts
Due: eslint, prettier --write

Refactor components to use standalone structure
  src/app/features/about-us/about-us.component.ts
  src/app/features/contact-us/contact-us.component.ts
  src/app/features/header/header.component.ts
  src/app/features/main-page/banner/banner.component.ts
  src/app/features/main-page/footer/footer.component.ts
  src/app/features/main-page/main-page-content/main-page-content.component.ts
  src/app/features/products/advanced/advanced.component.html
  src/app/features/products/advanced/advanced.component.ts
  src/app/features/products/advanced/ch/advanced-ch.component.html
  src/app/features/products/advanced/ch/advanced-ch.component.scss
  src/app/features/products/advanced/ch/advanced-ch.component.ts
  src/app/features/products/advanced/en/advanced-en.component.html
  src/app/features/products/advanced/en/advanced-en.component.scss
  src/app/features/products/advanced/en/advanced-en.component.ts
  src/app/features/products/foundation/foundation.component.ts
  src/app/features/products/interview/ch/interview-ch.component.ts
  src/app/features/products/interview/en/interview-en.component.ts
  src/app/features/products/interview/interview.component.ts
  src/app/features/products/prep/prep.component.ts
  src/app/features/products/products.component.ts
  src/app/features/products/sprint/sprint.component.ts
  src/app/features/success-stories/success-stories.component.ts
  src/app/features/teachers/teachers.component.ts
Due: eslint, prettier --write

Remove unused imports from main-page-content.component
  src/app/features/main-page/main-page-content/main-page-content.component.ts
Due: eslint

Fix code formatting and enhance readability.
  src/app/app.routes.ts
  src/app/features/about-us/about-us.component.html
  src/app/features/about-us/about-us.component.ts
  src/app/features/about-us/about-us.constants.ts
  src/app/features/contact-us/contact-us.component.html
  src/app/features/contact-us/contact-us.component.ts
  src/app/features/contact-us/contact-us.data.ts
  src/app/features/header/header.component.ts
  src/app/features/main-page/footer/footer.component.html
  src/app/features/main-page/footer/footer.component.ts
  src/app/features/main-page/intro/intro.component.html
  src/app/features/main-page/intro/intro.component.ts
  src/app/features/main-page/testimonials/testimonials.component.html
  src/app/features/main-page/testimonials/testimonials.component.ts
  src/app/features/products/advanced/advanced.component.ts
  src/app/features/products/advanced/ch/advanced-ch.component.ts
  src/app/features/products/advanced/en/advanced-en.component.html
  src/app/features/products/advanced/en/advanced-en.component.ts
  src/app/features/products/foundation/foundation.component.html
  src/app/features/products/foundation/foundation.component.ts
  src/app/features/products/interview/ch/interview-ch.component.html
  src/app/features/products/interview/ch/interview-ch.component.ts
  src/app/features/products/interview/en/interview-en.component.html
  src/app/features/products/interview/en/interview-en.component.ts
  src/app/features/products/interview/interview.component.html
  src/app/features/products/interview/interview.component.ts
  src/app/features/products/prep/prep.component.html
  src/app/features/products/prep/prep.component.ts
  src/app/features/products/products.component.html
  src/app/features/products/products.component.ts
  src/app/features/products/products.constants.ts
  src/app/features/products/products.routes.ts
  src/app/features/products/sprint/sprint.component.html
  src/app/features/products/sprint/sprint.component.ts
  src/app/features/teachers/teachers.component.ts
  src/app/features/teachers/teachers.constants.ts
  src/shared/components/translate-button/translate-button.component.html
  src/shared/components/translate-button/translate-button.component.ts
  src/shared/constants/lang.constants.ts
Due: eslint

Fix code formatting and enhance readability.
  src/app/features/products/advanced/advanced.component.ts
  src/app/features/products/foundation/ch/foundation-ch.component.html
  src/app/features/products/foundation/ch/foundation-ch.component.scss
  src/app/features/products/foundation/ch/foundation-ch.component.ts
  src/app/features/products/foundation/en/foundation-en.component.html
  src/app/features/products/foundation/en/foundation-en.component.scss
  src/app/features/products/foundation/en/foundation-en.component.ts
  src/app/features/products/foundation/foundation.component.html
  src/app/features/products/foundation/foundation.component.ts
  src/app/features/products/interview/interview.component.ts
  src/app/features/products/prep/ch/prep-ch.component.html
  src/app/features/products/prep/ch/prep-ch.component.scss
  src/app/features/products/prep/ch/prep-ch.component.ts
  src/app/features/products/prep/en/prep-en.component.html
  src/app/features/products/prep/en/prep-en.component.scss
  src/app/features/products/prep/en/prep-en.component.ts
  src/app/features/products/prep/prep.component.html
  src/app/features/products/prep/prep.component.ts
  src/app/features/products/sprint/ch/sprint-ch.component.html
  src/app/features/products/sprint/ch/sprint-ch.component.scss
  src/app/features/products/sprint/ch/sprint-ch.component.ts
  src/app/features/products/sprint/en/sprint-en.component.html
  src/app/features/products/sprint/en/sprint-en.component.scss
  src/app/features/products/sprint/en/sprint-en.component.ts
Due: eslint, prettier --write

Revert "Fix code formatting and enhance readability."
  src/app/features/products/advanced/advanced.component.ts
  src/app/features/products/foundation/ch/foundation-ch.component.html
  src/app/features/products/foundation/ch/foundation-ch.component.scss
  src/app/features/products/foundation/ch/foundation-ch.component.ts
  src/app/features/products/foundation/en/foundation-en.component.html
  src/app/features/products/foundation/en/foundation-en.component.scss
  src/app/features/products/foundation/en/foundation-en.component.ts
  src/app/features/products/foundation/foundation.component.html
  src/app/features/products/foundation/foundation.component.ts
  src/app/features/products/interview/interview.component.ts
  src/app/features/products/prep/ch/prep-ch.component.html
  src/app/features/products/prep/ch/prep-ch.component.scss
  src/app/features/products/prep/ch/prep-ch.component.ts
  src/app/features/products/prep/en/prep-en.component.html
  src/app/features/products/prep/en/prep-en.component.scss
  src/app/features/products/prep/en/prep-en.component.ts
  src/app/features/products/prep/prep.component.html
  src/app/features/products/prep/prep.component.ts
  src/app/features/products/sprint/ch/sprint-ch.component.html
  src/app/features/products/sprint/ch/sprint-ch.component.scss
  src/app/features/products/sprint/ch/sprint-ch.component.ts
  src/app/features/products/sprint/en/sprint-en.component.html
  src/app/features/products/sprint/en/sprint-en.component.scss
  src/app/features/products/sprint/en/sprint-en.component.ts
Due: eslint, prettier --write

Revert "Revert "Fix code formatting and enhance readability.""
  src/app/features/products/advanced/advanced.component.ts
  src/app/features/products/foundation/ch/foundation-ch.component.html
  src/app/features/products/foundation/ch/foundation-ch.component.scss
  src/app/features/products/foundation/ch/foundation-ch.component.ts
  src/app/features/products/foundation/en/foundation-en.component.html
  src/app/features/products/foundation/en/foundation-en.component.scss
  src/app/features/products/foundation/en/foundation-en.component.ts
  src/app/features/products/foundation/foundation.component.html
  src/app/features/products/foundation/foundation.component.ts
  src/app/features/products/interview/interview.component.ts
  src/app/features/products/prep/ch/prep-ch.component.html
  src/app/features/products/prep/ch/prep-ch.component.scss
  src/app/features/products/prep/ch/prep-ch.component.ts
  src/app/features/products/prep/en/prep-en.component.html
  src/app/features/products/prep/en/prep-en.component.scss
  src/app/features/products/prep/en/prep-en.component.ts
  src/app/features/products/prep/prep.component.html
  src/app/features/products/prep/prep.component.ts
  src/app/features/products/sprint/ch/sprint-ch.component.html
  src/app/features/products/sprint/ch/sprint-ch.component.scss
  src/app/features/products/sprint/ch/sprint-ch.component.ts
  src/app/features/products/sprint/en/sprint-en.component.html
  src/app/features/products/sprint/en/sprint-en.component.scss
  src/app/features/products/sprint/en/sprint-en.component.ts
Due: eslint, prettier --write

Add localization and enhancements for product sprint and prep
  public/i18n/en.json
  public/i18n/zh-CN.json
  src/app/features/products/prep/en/prep-en.component.html
  src/app/features/products/prep/prep.component.ts
  src/app/features/products/products.component.html
  src/app/features/products/products.constants.ts
  src/app/features/products/sprint/en/sprint-en.component.html
  src/app/features/products/sprint/sprint.component.html
  src/app/features/products/sprint/sprint.component.ts
Due: eslint

Add multilingual support for contact form labels and placeholders
  public/i18n/en.json
  public/i18n/zh-CN.json
  src/app/features/contact-us/contact-us.component.html
Due: eslint

Add i18n support for testimonials and success stories
  public/i18n/en.json
  public/i18n/zh-CN.json
  src/app/features/about-us/about-us.component.html
  src/app/features/about-us/about-us.constants.ts
  src/app/features/main-page/testimonials/testimonials.component.html
  src/app/features/main-page/testimonials/testimonials.component.ts
  src/app/features/success-stories/success-stories.component.ts
  src/app/features/success-stories/success-stories.constants.ts
  src/app/features/teachers/teachers.component.html
  src/app/features/teachers/teachers.constants.ts
  src/shared/components/profile-card-list/profile-card-list.component.html
  src/shared/components/profile-card-list/profile-card-list.component.ts
  src/shared/constants/lang.constants.ts
Due: eslint

Implement AI module with learning pathways and components
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/features/ai/acquire-knowledge/acquire-knowledge.component.html
  src/app/features/ai/acquire-knowledge/acquire-knowledge.component.scss
  src/app/features/ai/acquire-knowledge/acquire-knowledge.component.ts
  src/app/features/ai/acquire-knowledge/route/route.component.html
  src/app/features/ai/acquire-knowledge/route/route.component.scss
  src/app/features/ai/acquire-knowledge/route/route.component.ts
  src/app/features/ai/acquire-knowledge/test/test.component.html
  src/app/features/ai/acquire-knowledge/test/test.component.scss
  src/app/features/ai/acquire-knowledge/test/test.component.ts
  src/app/features/ai/ai.component.html
  src/app/features/ai/ai.component.scss
  src/app/features/ai/ai.component.ts
  src/app/features/ai/unit/unit.component.html
  src/app/features/ai/unit/unit.component.scss
  src/app/features/ai/unit/unit.component.ts
  src/app/features/main-page/footer/footer.component.html
  src/app/features/main-page/main-page.routes.ts
Due: eslint, prettier --write

Implement question modules
  public/questions/q_1.png
  src/app/features/ai/acquire-knowledge/acquire-knowledge.component.html
  src/app/features/ai/acquire-knowledge/acquire-knowledge.component.ts
  src/app/features/ai/acquire-knowledge/test/question-template/question-template.component.html
  src/app/features/ai/acquire-knowledge/test/question-template/question-template.component.scss
  src/app/features/ai/acquire-knowledge/test/question-template/question-template.component.ts
  src/app/features/ai/acquire-knowledge/test/test.component.html
  src/app/features/ai/acquire-knowledge/test/test.component.ts
Due: eslint, prettier --write

removed unused imports
  src/app/features/ai/acquire-knowledge/acquire-knowledge.component.ts
Due: eslint

Add package-lock.json to manage project dependencies
  package-lock.json
  public/i18n/en.json
  public/i18n/zh-CN.json
  public/images/about_us_accelerate.png
  public/images/about_us_research.png
  public/images/about_us_tutor.png
  src/app/features/about-us/about-us.component.html
  src/app/features/about-us/about-us.constants.ts
  src/app/features/main-page/footer/footer.component.html
  src/app/features/main-page/intro/intro.component.ts
  src/app/features/products/advanced/ch/advanced-ch.component.html
  src/app/features/products/advanced/en/advanced-en.component.html
  src/app/features/products/interview/en/interview-en.component.html
  src/app/features/products/products.component.html
  src/app/features/products/products.constants.ts
  src/app/features/products/products.routes.ts
  src/app/features/products/sprint/ch/sprint-ch.component.html
  src/app/features/products/sprint/en/sprint-en.component.html
Due: eslint

remove unnecessary code
  src/app/features/products/products.routes.ts
Due: eslint

fix failed build
  amplify.yml
  package-lock.json
Due: none

fix failed build, remove package-lock
  amplify.yml
Due: none

fix failed build, add package-lock
  amplify.yml
Due: none

fix failed build, change npm isntall
  amplify.yml
Due: none

change npm install to npm ci
  amplify.yml
Due: none

reinstall package-lock.json, change npm install to npm ci
  package-lock.json
Due: none

change ci
  amplify.yml
Due: none

add legacy-peer-deps to fix
  .npmrc
  amplify.yml
Due: none

reinstall package-lock.json
  package-lock.json
Due: none

change to npm install
  .npmrc
  amplify.yml
Due: none

resolve parcel/watcher issue
  .npmrc
  amplify.yml
  package.json
Due: none
