Repository zisenwang/xs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Refactor business and intro components for i18n and structure
  src/app/features/main-page/testimonials/testimonials.component.ts
Due: eslint

Remove unnecessary comments from testimonials component HTML
  src/app/features/main-page/testimonials/testimonials.component.html
Due: eslint

Add main-page content component and route management
  src/app/app.routes.ts
  src/app/features/header/header.component.html
  src/app/features/header/header.component.scss
  src/app/features/header/header.component.ts
  src/app/features/main-page/main-page-content/main-page-content.component.html
  src/app/features/main-page/main-page-content/main-page-content.component.scss
  src/app/features/main-page/main-page-content/main-page-content.component.ts
  src/app/features/main-page/main-page.component.html
  src/app/features/main-page/main-page.component.ts
Due: eslint, prettier --write

Refactor code formatting across multiple components
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/features/header/header.component.html
  src/app/features/header/header.component.ts
  src/app/features/main-page/banner/banner.component.html
  src/app/features/main-page/banner/banner.component.ts
  src/app/features/main-page/business/business.component.html
  src/app/features/main-page/business/business.component.ts
  src/app/features/main-page/chat/chat.component.html
  src/app/features/main-page/chat/chat.component.ts
  src/app/features/main-page/footer/footer.component.ts
  src/app/features/main-page/intro/intro.component.html
  src/app/features/main-page/intro/intro.component.ts
  src/app/features/main-page/main-page-content/main-page-content.component.ts
  src/app/features/main-page/main-page.component.html
  src/app/features/main-page/main-page.component.scss
  src/app/features/main-page/main-page.component.ts
  src/app/features/main-page/testimonials/testimonials.component.html
  src/app/features/main-page/testimonials/testimonials.component.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/index.html
  src/main.ts
  src/shared/components/image-scroll/image-scroll.component.html
  src/shared/components/image-scroll/image-scroll.component.ts
  src/shared/models/index.ts
  src/shared/services/index.ts
  src/shared/services/scroll.service.ts
  src/styles.scss
Due: eslint, prettier --write

Add About Us page with routing and header integration
  src/app/app.routes.ts
  src/app/features/about-us/about-us.component.html
  src/app/features/about-us/about-us.component.scss
  src/app/features/about-us/about-us.component.ts
  src/app/features/header/header.component.html
  src/app/features/header/header.component.ts
Due: eslint, prettier --write

Use `routerLink` instead of `href` for navigation
  src/app/features/header/header.component.html
  src/app/features/header/header.component.ts
Due: eslint

Implement smooth scroll navigation and refactor constants
  src/app/features/header/header.component.html
  src/app/features/header/header.component.ts
  src/app/features/main-page/banner/banner.component.html
  src/app/features/main-page/footer/footer.component.html
  src/app/features/main-page/main-page-content/main-page-content.component.html
  src/app/features/main-page/main-page-content/main-page-content.component.ts
  src/app/features/main-page/testimonials/testimonials.component.html
  src/shared/constants/app.constants.ts
  src/shared/constants/index.ts
  src/shared/constants/lang.constants.ts
  src/shared/constants/text.constants.ts
  src/shared/services/scroll.service.ts
Due: eslint

Refactor header component to use MAIN_PAGE constant.
  src/app/features/header/header.component.html
  src/app/features/header/header.component.ts
Due: eslint

Refactor constant declarations in HeaderComponent
  src/app/features/header/header.component.ts
  src/shared/constants/app.constants.ts
Due: eslint

Remove unused export statement in app constants
  src/shared/constants/app.constants.ts
Due: eslint

Refactor header and main-page components.
  src/app/features/header/header.component.html
  src/app/features/main-page/main-page-content/main-page-content.component.ts
Due: eslint

Refactor header and main-page components.
  src/shared/services/scroll.service.ts
Due: eslint

Add teachers feature and related routing adjustments
  public/images/bg_about_us.png
  src/app/app.routes.ts
  src/app/features/about-us/about-us.component.html
  src/app/features/about-us/about-us.component.ts
  src/app/features/header/header.component.ts
  src/app/features/main-page/main-page.component.html
  src/app/features/teachers/teachers.component.html
  src/app/features/teachers/teachers.component.scss
  src/app/features/teachers/teachers.component.ts
  src/shared/constants/img.constants.ts
  src/shared/constants/index.ts
Due: eslint, prettier --write

Refactor About Us header with reusable component.
  public/i18n/en.json
  public/i18n/zh-CN.json
  public/images/bg_teachers.png
  src/app/features/about-us/about-us.component.html
  src/app/features/about-us/about-us.component.ts
  src/shared/components/bg-title/bg-title.component.html
  src/shared/components/bg-title/bg-title.component.scss
  src/shared/components/bg-title/bg-title.component.ts
  src/shared/constants/app.constants.ts
Due: eslint, prettier --write

Refactor teachers component to use shared background title
  public/i18n/en.json
  public/i18n/zh-CN.json
  public/images/bg_teachers.png
  src/app/features/main-page/intro/intro.component.html
  src/app/features/teachers/teachers.component.html
  src/app/features/teachers/teachers.component.ts
  src/shared/constants/app.constants.ts
  src/shared/constants/img.constants.ts
Due: eslint

Add Contact Us page and update routing
  public/images/bg_contact.png
  public/images/hills_wechat_qr.png
  src/app/app.routes.ts
  src/app/features/about-us/about-us.component.ts
  src/app/features/contact-us/contact-us.component.html
  src/app/features/contact-us/contact-us.component.scss
  src/app/features/contact-us/contact-us.component.ts
  src/app/features/header/header.component.ts
  src/shared/constants/app.constants.ts
  src/shared/constants/img.constants.ts
Due: eslint, prettier --write

Add Products feature with dynamic content and navigation
  public/i18n/en.json
  public/i18n/zh-CN.json
  src/app/app.routes.ts
  src/app/features/header/header.component.ts
  src/app/features/products/products.component.html
  src/app/features/products/products.component.scss
  src/app/features/products/products.component.ts
  src/app/features/products/products.constants.ts
  src/shared/constants/app.constants.ts
Due: eslint, prettier --write

Refactor testimonial and header components for consistency
  public/i18n/en.json
  public/i18n/zh-CN.json
  src/app/features/header/header.component.html
  src/app/features/main-page/banner/banner.component.html
  src/app/features/main-page/main-page-content/main-page-content.component.html
  src/app/features/main-page/main-page.component.html
  src/app/features/main-page/testimonials/testimonials.component.html
  src/app/features/main-page/testimonials/testimonials.component.ts
  src/app/features/products/products.component.ts
  src/app/features/teachers/teachers.component.html
  src/shared/components/bg-title/bg-title.component.html
  src/shared/components/bg-title/bg-title.component.ts
  src/shared/constants/app.constants.ts
  src/shared/constants/lang.constants.ts
Due: eslint

Refactor teacher profiles to use shared profile card component
  src/app/features/teachers/teachers.component.html
  src/app/features/teachers/teachers.component.ts
  src/shared/components/profile-card-list/profile-card-list.component.html
  src/shared/components/profile-card-list/profile-card-list.component.scss
  src/shared/components/profile-card-list/profile-card-list.component.ts
Due: eslint, prettier --write

Add Success Stories component and update navigation route
  src/app/app.routes.ts
  src/app/features/header/header.component.ts
  src/app/features/success-stories/success-stories.component.html
  src/app/features/success-stories/success-stories.component.scss
  src/app/features/success-stories/success-stories.component.ts
  src/shared/constants/img.constants.ts
Due: eslint, prettier --write

Add fade-in animation to main sections across the app
  src/app/features/about-us/about-us.component.html
  src/app/features/main-page/testimonials/testimonials.component.html
  src/app/features/products/products.component.html
Due: eslint

Update contact form layout and replace tuition options
  src/app/features/contact-us/contact-us.component.html
  src/app/features/contact-us/contact-us.component.ts
Due: eslint

Refactor and format UI components for consistency
  src/app/app.routes.ts
  src/app/features/about-us/about-us.component.html
  src/app/features/about-us/about-us.component.ts
  src/app/features/contact-us/contact-us.component.html
  src/app/features/contact-us/contact-us.component.ts
  src/app/features/header/header.component.html
  src/app/features/header/header.component.ts
  src/app/features/main-page/footer/footer.component.html
  src/app/features/main-page/main-page-content/main-page-content.component.html
  src/app/features/main-page/main-page-content/main-page-content.component.ts
  src/app/features/main-page/testimonials/testimonials.component.html
  src/app/features/main-page/testimonials/testimonials.component.ts
  src/app/features/products/products.component.html
  src/app/features/products/products.component.ts
  src/app/features/products/products.constants.ts
  src/app/features/success-stories/success-stories.component.html
  src/app/features/success-stories/success-stories.component.ts
  src/app/features/teachers/teachers.component.html
  src/app/features/teachers/teachers.component.ts
  src/shared/components/bg-title/bg-title.component.html
  src/shared/components/bg-title/bg-title.component.ts
  src/shared/components/profile-card-list/profile-card-list.component.html
  src/shared/components/profile-card-list/profile-card-list.component.ts
  src/shared/constants/app.constants.ts
  src/shared/constants/img.constants.ts
  src/shared/constants/index.ts
  src/shared/constants/lang.constants.ts
  src/shared/services/scroll.service.ts
Due: eslint

Use production build script and simplify amplify.yml
  amplify.yml
  package.json
Due: none

Add customHttp.yml configuration file
  customHttp.yml
Due: none

Add "sendEmail" query and integrate AWS SES dependency
  .gitignore
  amplify/backend.ts
  amplify/data/resource.ts
  amplify/function/email/email.resource.ts
  amplify/function/email/handler.ts
  amplify/package-lock.json
  amplify/package.json
  amplify/storage/resource.ts
  src/app/features/contact-us/contact-us.component.ts
Due: eslint

Refactor Contact Us form with PrimeNG components
  src/app/features/contact-us/contact-us.component.html
  src/app/features/contact-us/contact-us.component.ts
Due: eslint

Refactor contact form and update subject handling
  amplify/data/resource.ts
  amplify/function/email/handler.ts
  public/i18n/en.json
  public/i18n/zh-CN.json
  src/app/features/contact-us/contact-us.component.html
  src/app/features/contact-us/contact-us.component.ts
  src/app/features/contact-us/contact-us.data.ts
  src/shared/constants/lang.constants.ts
  src/shared/models/app.models.ts
Due: eslint

Add ConsultMessage model and improve contact form handling
  amplify/data/resource.ts
  amplify/function/email/handler.ts
  src/app/features/contact-us/contact-us.component.ts
Due: eslint

Fix missing dependencies in Amplify pre-build step
  amplify.yml
Due: none

Enable additional debugging options for development builds
  angular.json
Due: none

Add separate fields for phone, email, and WeChat in contact form
  amplify/data/resource.ts
  amplify/function/email/handler.ts
  angular.json
  src/app/features/contact-us/contact-us.component.html
  src/app/features/contact-us/contact-us.component.ts
Due: eslint

Refactor components to improve maintainability and styling. for dark mode
  src/app/features/products/products.component.html
  src/app/features/products/products.component.ts
  src/app/features/teachers/teachers.component.ts
  src/app/features/teachers/teachers.constants.ts
Due: eslint

Refactor "About Us" page to use dynamic feature cards
  src/app/features/about-us/about-us.component.html
  src/app/features/about-us/about-us.component.ts
  src/app/features/about-us/about-us.constants.ts
Due: eslint

Revamp and structure course content with HTML formatting
  src/app/features/products/products.component.html
  src/app/features/products/products.constants.ts
Due: eslint

Switch to lazy loading for product routes and add new components
  public/i18n/en.json
  public/i18n/zh-CN.json
  src/app/app.routes.ts
  src/app/features/header/header.component.html
  src/app/features/main-page/business/business.component.html
  src/app/features/main-page/business/business.component.ts
  src/app/features/main-page/footer/footer.component.html
  src/app/features/main-page/footer/footer.component.ts
  src/app/features/products/advanced/advanced.component.html
  src/app/features/products/advanced/advanced.component.scss
  src/app/features/products/advanced/advanced.component.ts
  src/app/features/products/foundation/foundation.component.html
  src/app/features/products/foundation/foundation.component.scss
  src/app/features/products/foundation/foundation.component.ts
  src/app/features/products/interview/interview.component.html
  src/app/features/products/interview/interview.component.scss
  src/app/features/products/interview/interview.component.ts
  src/app/features/products/prep/prep.component.html
  src/app/features/products/prep/prep.component.scss
  src/app/features/products/prep/prep.component.ts
  src/app/features/products/products.component.html
  src/app/features/products/products.component.ts
  src/app/features/products/products.constants.ts
  src/app/features/products/products.routes.ts
  src/app/features/products/sprint/sprint.component.html
  src/app/features/products/sprint/sprint.component.scss
  src/app/features/products/sprint/sprint.component.ts
  src/app/features/teachers/teachers.constants.ts
Due: eslint, prettier --write

fix footer css
  src/app/features/main-page/footer/footer.component.html
Due: eslint

Make sidebar sticky with z-index adjustment
  src/app/features/products/products.component.html
Due: eslint

Enhance UI interactivity, add navigation, and update content
  public/images/hills_wechat_qr.png
  public/images/oxford.png
  src/app/features/contact-us/contact-us.component.html
  src/app/features/main-page/intro/intro.component.html
  src/app/features/main-page/intro/intro.component.ts
  src/app/features/main-page/testimonials/testimonials.component.html
  src/app/features/main-page/testimonials/testimonials.component.ts
  src/app/features/products/products.component.html
  src/app/features/products/products.component.ts
  src/app/features/success-stories/success-stories.component.ts
  src/shared/components/profile-card-list/profile-card-list.component.html
  src/shared/models/app.models.ts
Due: eslint

Path conditions:
  eslint: (any of: *.ts) or (any of: *.html)
  prettier --write: any of: *.scss
